<% provide(:title, 'リスト') %>
<div id="list-index" class="row">
  <div class="col-md-8">
    <div class="rakuten-search">
      <%# 楽天APIでの検索結果を表示 %>
    </div>
    <section class="list-section">
      <%= render 'lists/list_feed' %>
    </div>
  </div>
</div>
