<section class="top-wrapper row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
    <%= render 'shared/post_form' %>
  </div>
  <div id="status-feed" class="col-md-8">
    <h3>投稿一覧</h3>
    <%= render 'shared/feed' %>
  </div>
</section>
