<section class="head-wrapper row">
  <div class="col-md-8">
    <h1>monoge</h1>
    <p class="lead">
      monogeは、自分にとってより価値あるものに気づくためのミニマリスト向け交流サービスです。リスト形式で自分の持ち物を登録・管理することで、必要・不要なものを明確にします。
    </p>
  </div>
  <div class="w-100"></div>
  <div class="col-md-4">
    <%= link_to 'ユーザー登録', signup_path, class: "btn btn-lg btn-primary rounded-pill", 'role': "button" %>
  </div>
  <div class="col-md-4">
    <%= link_to 'ゲストログイン', '/guest', method: :post, class: "btn btn-lg btn-dark rounded-pill", 'role': "button" %>
  </div>
</section>
<section class="target-wrapper row">
  <div class="target-summary col-md-3">
    <h2>対象ユーザー</h2>
    <p>monogeは特に次の3種類の方々に導入をおすすめします。</p>
  </div>
  <div class="target col-md-3">
    <div class="target-detail">
      <div class="target-icon">
        <i class="fas fa-user-tag fa-3x"></i>
      </div>
      <h4>ミニマリストの方</h4>
      <p>自分の持っている物をリストにすることで、捨ててはいけない物・大切なものを可視化します。</p>
    </div>
  </div>
  <div class="target col-md-3">
    <div class="target-detail">
      <div class="target-icon">
        <i class="fas fa-people-carry fa-3x"></i>
      </div>
      <h4>片付けられない方</h4>
      <p>必要なもの、大切なものをリストにすることで、それ以外の不要なものが可視化されます。</p>
    </div>
  </div>
  <div class="target col-md-3">
    <div class="target-detail">
      <div class="target-icon">
        <i class="fas fa-house-user fa-3x"></i>
      </div>
      <h4>主婦の方</h4>
      <p>
        持ち物全てが対象ではなく、日用品のみをリスト化し、何が足りないのかを明確に知ることができます。
      </p>
    </div>
  </div>
</section>
