<div class="container">
  <div class="row">
    <div id="user_form" class="col-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section id="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
    <div id="status-feed" class="col-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>
