<section class="header-section">
  <div class="container">
    <div class="banner">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7 col-md-6">
          <h1>monoge</h1>
          <p class="lead">monogeは、自分にとってより価値あるものに気づくためのミニマリスト向け交流サービスです。リスト形式で自分の持ち物を登録・管理することで、必要・不要なものを明確にします。</p>
        </div>
        <div class="w-100"></div>
        <div class="banner-btn col-md-4 justify-content-center text-center">
          <%= link_to 'ユーザー登録', signup_path, class: "btn btn-lg btn-primary rounded-pill", 'role': "button" %>
        </div>
        <div class="banner-btn col-md-4 justify-content-center text-center">
          <%= link_to 'ゲストログイン', '/guest', method: :post, class: "btn btn-lg btn-primary rounded-pill", 'role': "button" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="target-section w-100">
  <div class="container py-5">
    <div class="row">
      <div class="section-summary item col-12 col-lg-3">
        <div class="p-3">
          <h2 class="section-title">対象ユーザー</h2>
          <div class="section-intro">monogeは特に次の3種類の方々に導入をおすすめします。</div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-5 shadow rounded">
          <div class="pb-4 d-flex justify-content-center">
            <span style="color: #D9230F;">
              <i class="fas fa-user-tag fa-3x"></i>
            </span>
          </div>
          <h4>ミニマリストの方</h4>
          <div class="mb-2">
            自分の持っている物をリストにすることで、捨ててはいけない物・大切なものを可視化します。
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-5 shadow rounded">
          <div class="pb-4 d-flex justify-content-center">
            <span style="color: #D9230F;">
              <i class="fas fa-people-carry fa-3x"></i>
            </span>
          </div>
          <h4>片付けられない方</h4>
          <div class="mb-2">
            必要なもの、大切なものをリストにすることで、それ以外の不要なものが可視化されます。
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-5 shadow rounded">
          <div class="pb-4 d-flex justify-content-center">
            <span style="color: #D9230F;">
              <i class="fas fa-house-user fa-3x"></i>
            </span>
          </div>
          <h4>主婦の方</h4>
          <div class="mb-2">
            持ち物全てが対象ではなく、日用品のみをリスト化し、何が足りないのかを明確に知ることができます。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
