<div class="contact-container container">
  <div class="row col-lg-8 col-md-7 col-md-6">
    <h1>Contact</h1>
    <div class="w-100"></div>
    <div class="col-md-4">
      <h3>Name</h3>
      <p>Tsubasa</p>
      <h3>Mail</h3>
      <p><%= mail_to 'example@example.com' %></p>
      <h3>Page</h3>
      <p><%= link_to 'monoge', '#' %></p>
    </div>
  </div>
</div>
