<div id="contact-container" class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h1>Contact</h1>
    </div>
    <div class="col-md-4">
      <dl>
        <dt>Name</dt>
        <dd>Tsubasa</dd>
        <dt>Mail</dt>
        <dd><%= mail_to 'example@example.com' %></dd>
        <dt>Page</dt>
        <dd><%= link_to 'monoge', '#' %></dd>
      </dl>
    </div>
  </div>
</div>
