<section class="contact-wrapper row">
  <div class="col-md-5">
    <div class="contact-title">
      <h1>Contact</h1>
    </div>
    <div class="contact-detail">
      <h3>Name</h3>
      <p>Tsubasa</p>
      <h3>Mail</h3>
      <p><%= mail_to 'monoge.contact@gmail.com' %></p>
      <h3>Page</h3>
      <p><%= link_to 'monoge', 'https://monoge.net/' %></p>
    </div>
  </div>
</section>
