<div id="home-container" class="container-fluid bg-dark">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>monoge</h1>
    </div>
    <div class="col-md-8 mx-auto">
      <p>monogeは、自分の持ち物をリスト形式で管理できるサービスです。</p>
    </div>
    <div class="col-md-12 mx-auto">
      <%= image_tag '/home_image.jpg', class: "home-image img-fluid rounded" %>
    </div>
    <div class="col-md-4 mx-auto">
      <%= link_to 'ユーザー登録', signup_path, class: "btn btn-light btn-block d-flex justify-content-center", 'role': "button" %>
    </div>
  </div>
</div>

<!-- CircleCIの設定 -->
<!-- ECSの設定 -->
