<% provide(:title, 'パスワードの変更') %>
<section id="pass-reset" class="row">
  <div class="col-md-4">
    <h3 class="page-title">パスワードの変更</h3>
    <%= form_with(url: password_resets_path, scope: :password_reset, local: true, class: "form-group") do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit "送信", class: "form-btn btn btn-primary btn-block" %>
    <% end %>
  </div>
</section>
