<h1>パスワードの再設定</h1>

<p>以下のリンクをクリックしてパスワードを再設定してください。</p>

<%= link_to 'パスワードを再設定する', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクは2時間で失効します。</p>

<p>もしこのメールに心当たりがない場合は、お手数ですがこのメールを削除していただけると幸いです。</p>
