<section class="status-feed">
  <h3>投稿一覧</h3>
  <% if @posts.any? %>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts, params: { controller: :static_pages, action: :home } %>
  <% end %>
</section>
