<div class="modal fade" id="image-<%= post.id %>-modal"
     role="dialog" aria-labelledby="image-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
        <span>×</span>
      </button>
      <%= image_tag(post.image_url) if post.image? %>
    </div>
  </div>
</div>
