<section class="stats">
  <% @user ||= current_user %>
  <%= link_to following_user_path(@user) do %>
    <strong><%= @user.following.count %></strong> フォロー中
  <% end %>
  <span class="stats-divider"> | </span>
  <%= link_to followers_user_path(@user) do %>
    <strong><%= @user.followers.count %></strong> フォロワー
  <% end %>
</section>
