<section class="user-info">
  <% @user ||= current_user %>
  <div class="user-image">
    <%= image_tag @user.image_url(:thumb60) %>
  </div>
  <div class="user-detail">
    <span><%= link_to @user.name, @user %></span>
    <span class="post-count"><%= @user.posts.count %> 投稿</span>
  </div>
</section>
