<div>
  <%= image_tag current_user.image_url(:thumb) if current_user.image? %>
  <div>
    <%= current_user.name %>
    <%= link_to "プロフィール", current_user %>
    <span class="post_count"><%= current_user.posts.count %> 投稿</span>
  </div>
</div>
