@import '~bootswatch/dist/simplex/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/simplex/bootswatch';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  /* 4.5remから変更 */
  padding-top: 4.1rem;
}

footer {
  li {
    display: inline-block;
  }
}

/* home */

/* header section */
.header-section {
  background-image: url("/header-section-bg.jpg");
  background-size: cover;
}

/* banner */
.banner {
  h1 {
    padding-top: 6rem;
    text-align: center;
  }
  p {
    padding: 1.5rem 0;
    text-align: center;
    color: #5D6778;
  }
  .banner-btn {
    padding-bottom: 9rem;
  }
  .banner-image {
    .image-fluid {
      max-width: 100%;
      height: auto;
    }
    padding-bottom: 3rem;
  }
}

/* target-section */
.target-section {
  padding-top: 3rem;
}
