<nav id="footer" class="navbar navbar-expand-md navbar-light sticky-bottom">
    <ul class="mx-auto justify-content-center pl-0">
      <li>
        <%= link_to '#' do %>
          <i class="fab fa-twitter fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
